* {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Condensed', "Arial", sans-serif;
}

/*Top nav bar, services and connect tabs*/
.header {
}

.navbar {
  background-color: white;
  display: flex;
  font-size: 30px;
  justify-content: center;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 10;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    font-size: 20px;
  }
}

.navbar p {
  display: inline-block;
  color: black;
  margin: 0 15px 10px 15px;
}

.navbar p:hover {
  color: silver;
  transition: 0.3s ease;
}

.tab {
}

.servicestab {
  background-color: white;
  font-size: 19px;
  opacity: 0;
  position: fixed;
  transition: 0.5s ease-in-out;
  padding: 5px;
  top: -150px;
  width: 100%;
  z-index: 2;
}

.activeservices {
  opacity: 1;
  top: 47px;
}

.prices {
  display: inline-block;
  font-size: 19px;
  column-count: 2;
  text-align: center;
  width: 90%;
}

@media only screen and (min-width: 1360px) {
  .prices {
    column-count: 3;
    text-align: center;
    padding: 0;
  }

  .servicestab {
    width: 90%;
    margin: 0;
  }
}

.listedprice {
  padding: 5px 0 5px 0;
  margin: 0;
}

.services {
  cursor: pointer;
}

.servicehelp {
  height: 40px;
  font-size: 19px;
}

.connect {
  cursor: pointer;
}

.connecttab {
  background-color: white;
  font-size: 19px;
  opacity: 0;
  position: fixed;
  transition: 0.5s ease-in-out;
  padding: 5px;
  top: -350px;
  width: 100%;
  z-index: 2;
}

.activeconnect {
  opacity: 1;
  top: 47px;
  width: 100%;
}

.connectform {
  padding: 0 10%;
  width: auto;
}

.form {
  font-size: 20px;
}

.connectform img {
  max-height: 17px;
}

.select {
  width: 50%;
  padding: 4px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submissionbox {
  width: 100%;
  padding: 3px 8px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.subphone {
  background-image: url('phone.png');
  background-size: 25px;
  background-position: 1px 4px;
  background-repeat: no-repeat;
  padding-left: 33px;
}

.submail {
  background-image: url('mail.png');
  background-size: 25px;
  background-position: 2px 4px;
  background-repeat: no-repeat;
  padding-left: 35px;
}

.detailsbox {
  width: 100%;
  height: 60px;
  word-wrap: break-word;
  border-radius: 4px;
  resize: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  padding-left: 4px;
}

.submitbutton {
  text-transform: uppercase;
  width: 10%;
  margin-top: 3px;
}

.formItem {
  padding: 0px 0px 5px 0px;
}

/*Title and title image*/

.boxatitle {
  display: flex;
  justify-content: center;
  background-image: url('img/sp.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 1080px;
}

.boxatitletext {
  color: white;
  display: block;
  position: absolute;
  top: 900px;
  text-align: center;
}

.boxatitle h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.boxatitle p {
  font-size: 30px;
}

/*About me section*/
.aboutme {
  font-size: 20px;
  position: relative;
  margin: 60px 40px;
}

.aboutme p {
  background-color: inherit;
  padding: 2px 2px;
}

/*Photo gallery*/
.photos {
  display: inline-block;
  column-count: 1;
  column-gap: 0;
  line-height: 0;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .photos {
    column-count: 2;
    column-gap: 0;
    line-height: 0;
    position: relative;
  }
}

@media only screen and (min-width: 1200px) {
  .photos {
    column-count: 3;
  }
}

.photos img {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
}

.photoblock {
}

.photoblock p {
  display: none;
  font-size: 20px;
  padding: 20px 0 0 0;
  text-align: center;
  height: 30px;
}

/*Social media footer*/
.socialmedia {
  justify-content: center;
  display: flex;
  text-align: center;
  position: relative;
  padding: 20px;
  font-size: 20px;
}

.smwrap p {
  padding: 20px;
}

.socialmedia img {
  height: 48px;
  width: 48px;
  padding: 5px;
}

.photoblock:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.65;
}

.socialmedia a:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.65;
}
